
// set your custom colors here
$siteBgColorCustom: #181b33;
$sidebarBgColorCustom: #28306a;
$textColorCustom: #c9d1d9;
$sidebarTextColorCustom: #f0f6fc;
$headlineColorCustom: #8b949e;
$headingColorCustom: #c9d1d9;
$bodyLinkColorCustom: #6fc7da;
$navLinkColorCustom: #ffffff;
$sidebarLinkColorCustom: #6fc7da;
$footerTextColorCustom: #8b949e;
$buttonTextColorCustom: #ffffff;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #238636;
$buttonHoverBgColorCustom: #3fb950;
$borderColorCustom: #30363d;

