// Override this file to add your own SCSS styling.
// set your custom colors here
$siteBgColorCustom: #181b33;
$sidebarBgColorCustom: #181b33;
$textColorCustom: #c9d1d9;
$sidebarTextColorCustom: #f0f6fc;
$headlineColorCustom: #8b949e;
$headingColorCustom: #c9d1d9;
$bodyLinkColorCustom: #FA0800;
$navLinkColorCustom: #ffffff;
$sidebarLinkColorCustom: #FA0800;
$footerTextColorCustom: #8b949e;
$buttonTextColorCustom: #ffffff;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #238636;
$buttonHoverBgColorCustom: #3fb950;
$borderColorCustom: #30363d;